<!DOCTYPE html>
<html>
  <head>
    <title>Form 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form1.css')}}">>
  </head>
  <body>
    <h1>Please enter you phone number</h1>
    <hr>
    {% if error %}
    <p style="color: red; text-align: center; font-family: 'Courier New', Courier, monospace;">{{ error }}</p>
    {% endif %}
    <form method="POST" class="pn">
      <label for="phone_number">Phone Number:</label>
      <input type="text" id="phone_number" name="phone_number" placeholder="Ex. +13161234567"><br><br>
      <input type="submit" value="Next" class="next">
    </form>
  </body>
</html>