body {
    background: #282828;
  }

h1 {
    margin-top: auto;
    margin-bottom: auto;
    color: whitesmoke;
    font-size: 70px;
    text-align: center;
    font-family: 'Roboto';
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


@keyframes rainbow{
		0%,100%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}


.rainbow-bg{
		animation: rainbow-bg 2.5s linear;
		animation-iteration-count: infinite;
}
}
.parent{
	animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

.child{	
	background: #282828;
}

.parent: hover{
	color: whitesmoke;}

.parent: hover .child{
	animation: rainbow-bg 2.5s linear;
	animation-iteration-count: infinite;
}
}
