<!DOCTYPE html>
<html>
  <head>
    <title>Thank you</title>
    <script src='thanks.js'></script>
    <link rel="stylesheet" href="thanks.css">
  </head>
  <body class="child">
    <h1 class="parent">Thank you</h1>
  </body>
    <img src="pictures/malone.gif" alt="If you can see this, then the image didn't load properly" id="image_shower" class="center", class="App-logo"/>
  <link rel="stylesheet" href="styles/thanks.css">
  <body>
    <h2 class = "parent center" > By Kevinh Nguyen, Tuan Vu, Changwen Gon, Kobe Jordan</h2>
    <div>

    <img id="pot" src="pictures/tuanvu.jpeg" alt="this is tuan pictures"  width=200px height=200px>
    </div>
  </body>

</html>
