h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}


.service {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.in {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.inputs {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.date {
  margin-top: 3px;
}

body {
  background-color: #282828;
}

.submit_button {
  border-width: 0px;
  padding: 10px;
  margin-top: 3px;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 1s, color 1s, border-width .7s, border-color .7s;
}

.submit_button:hover {
  cursor: pointer;
  background-color: #282828;
  color: white;
  border-width: 1px;
  border-color: white;
}

.submit_button:active {
  opacity: .7;
}