h1 {
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}


p {
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}


.submit {
  text-align: center;
}

body {
  background-color: #282828;
  transition: background-color 1s
}

body:hover {
  background-color: #282828;
}

.submit-button {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 1s, color 1s, border-width .7s, border-color .7s;
  border-width: 0px;
  padding: 10px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #282828;
  color: white;
  border-width: 1px;
  border-color: white;

}

.submit-button:active {
  opacity: .7;
}

.drop_down {
  margin: 0 auto !important;
  width: 400px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 1s;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #282828;
  color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.drop {
  color: #282828;
  font-family: 'Courier New', Courier, monospace;
}

.round1 {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.round2 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}